/* 4 catalog -----------------------------------------------------*/
.catalog_one_mode .page_title, .catalog_one_mode .block_5_slider_wrapper {
   top: 6vh;

}
.catalog_one{
    min-height: 100px;
    margin-top: 0;
    padding-bottom: 0;
}
.catalog_one .page_outer_wrapper  {
    min-height: 100vh;
}
.catalog_one_mode_sec2 {
    background: none;
    min-height: 35vh;
    height: auto;
}
.about_katalog_txt {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 0;
	border: none;
}
.about_katalog_txt div {
	width: 33%;
    float: left;
    padding-left: 0;
    margin: 0;
    padding: 0 0.5vw 0 1.5vw;
	box-sizing:border-box;
    font-size: 22px;
    letter-spacing: .02em;
	font-family: 'BebasNeueRegular';
    font-variant: small-caps;
	text-align: justify;
}

.about_katalog_txt div:first-child {
	float: left;
	 padding: 0 1.5vw 0 1.5vw ;
}
.about_katalog_txt div:last-child {
	float: right;
	 padding: 0 1.5vw 0 1.7vw ;
}
.katalog_page_breadcrumbs, .category_page_breadcrumbs {
	margin-top: 24px;
	margin-left: -15px;
}
#catalog_footer{
    background: url(../images/footer_bg.jpg) no-repeat bottom center;
    background-size: 100% 50%;
    min-height: 80vh;
}
.page_outer_wrapper.catalog_one{
     background: none;
     min-height: 90vh;
}
.katalog_page_breadcrumbs span, .katalog_page_breadcrumbs span a {
	font-weight: 700;
	font-family: 'Oswald-ExtraLight';
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #ffffff;
	text-transform: lowercase;
	text-decoration: none;
	font-size-adjust: 0.6;
}
.katalog_page_breadcrumbs span a {
	background: url('../images/slider_3_link.png') no-repeat right 10px;
    padding-right:  20px;
}
.katalog_page_breadcrumbs > a {
	margin-left: -41px;
}
/*-----------------------------------------------------------------*/
.prod_item{
     background-image: none;
}
.page_outer_wrapper .prod_item {
   
}

#prod_gallery_title_one {
	text-align: left;
	margin-left: 3.5vw;
}
.block_6_gallery_bak_arrow a {
	float: right;
	display: inline-block;
	width: auto;
	text-align: right;
	box-sizing: border-box;
	padding-left: 20px;
	font-family: 'BebasNeueBook';
    position: absolute;
	top: 95%;
	left: 90px;
	font-size: 24px;
	color: #a7a7a7;
    text-transform: uppercase;
	text-decoration: none;
	min-height: 18px;
	background: url('../images/block_6_gallery_title_gray_b.png') no-repeat left 2px ;
	margin-top: 12px;
	letter-spacing: 0.03em;
	z-index: 1;
}
.block_6_gallery_bak_arrow a:hover {
	text-decoration: underline;
}
.categori_slide{
	margin-top: 0;
}
#block_5_slider.categori_slide   > li:nth-child(1) > .block_5_slider_item:nth-child(1) .block_5_slider_bg {background-image: url('../images/product/product_slide_1.jpg');}
#block_5_slider.categori_slide   > li:nth-child(1) > .block_5_slider_item:nth-child(2) .block_5_slider_bg {background-image: url('../images/product/product_slide_4.jpg');}

#block_5_slider.categori_slide   > li:nth-child(2) > .block_5_slider_item:nth-child(1) .block_5_slider_bg {background-image: url('../images/product/product_slide_2.jpg');}
#block_5_slider.categori_slide   > li:nth-child(2) > .block_5_slider_item:nth-child(2) .block_5_slider_bg {background-image: url('../images/product/product_slide_5.jpg');}

#block_5_slider.categori_slide   > li:nth-child(3) > .block_5_slider_item:nth-child(1) .block_5_slider_bg {background-image: url('../images/product/product_slide_3.jpg');}
#block_5_slider.categori_slide   > li:nth-child(3) > .block_5_slider_item:nth-child(2) .block_5_slider_bg {background-image: url('../images/product/product_slide_6.jpg');}

#block_5_slider.categori_slide   > li:nth-child(4) > .block_5_slider_item:nth-child(1) .block_5_slider_bg {background-image: url('../images/product/product_slide_1.jpg');}
#block_5_slider.categori_slide   > li:nth-child(4) > .block_5_slider_item:nth-child(2) .block_5_slider_bg {background-image: url('../images/product/product_slide_4.jpg');}

#block_5_slider.categori_slide   > li:nth-child(5) > .block_5_slider_item:nth-child(1) .block_5_slider_bg {background-image: url('../images/product/product_slide_2.jpg');}
#block_5_slider.categori_slide   > li:nth-child(5) > .block_5_slider_item:nth-child(2) .block_5_slider_bg {background-image: url('../images/product/product_slide_1.jpg');}

.tables_main{
	    background-image: url(../images/product/catalog_t.jpg);
   
}
.category_page_breadcrumbs span, .category_page_breadcrumbs span a {
	font-size-adjust: 0.6;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
	font-family: 'Oswald-ExtraLight';
	color: #9f9f9f;
	text-transform: lowercase;
	text-decoration: none;
}
.category_page_breadcrumbs span a {
	background: url('../images/slider_3_link_gr.png') no-repeat right 10px;
    padding-right:  15px;
	margin-right: 5px;
	font-size-adjust: 0.6;
}
.category_page_breadcrumbs span a:hover {
	text-decoration: underline; 
}
.inner_page_breadcrumbs.categor_virtual{
	position: absolute; z-index: 1; width: 400px; height: 50px; opacity: 1; top: 50px;  left: 10.5%; float:left;
}

/*	#block_5_slider.categori_slide > li:nth-child(2) > .block_5_slider_item {
		margin-top: 0;
	}
	#block_5_slider.categori_slide > li:nth-child(2) > .block_5_slider_item,
	#block_5_slider.categori_slide > li:nth-child(5) > .block_5_slider_item {
		margin-top: inherit;
		    margin-bottom: 26px;
	}*/